body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.main {
    color: rgb(205, 191, 227);
    margin-left: 30px;
    height: 900px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    text-align: center;
    box-sizing: border-box;
    line-height: 16px;
    background-color: rgb(111, 84, 153);
    background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
    background-repeat: repeat-x;
}