{% extends 'layout.html'  %}

{% block content %}

<div class="main">

{% if invite_lst %}

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin">Приглашения 0.0.1</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin/add">Добавить приглашение</a></li>
        <li><a href="/admin/export">Экспорт емейлов</a></li>
        <li><a href="/admin/stats">Статистика по доменам</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сортировать по <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/order/created_date">Дате</a></li>
            <li><a href="/admin/order/hits">Хитам</a></li>
            <li><a href="/admin/order/subscription_cnt">Подпискам</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <table class="table table-striped">
    <thead>
        <tr class="tab_head">
        <td>Код приглашения
        <td>Описание
        <td>Дата создания
        <td>Кол-во подписок
        <td>Кол-во хитов
        </tr>
    </thead>
    <tbody>
    {% for invite in invite_lst  %}
        <tr>
            <td>{{ invite.invite_id }}</td>
            <td>{{ invite.description }}</td>
            <td>{{ invite.created_date }}</td>
            <td>{{ invite.subscription_cnt }}</td>
            <td>{{ invite.hits }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% else %}
    <p>Данных нет</p>

{% endif %}

</div>
{% endblock %}