{% extends 'layout.html'  %}

{% block content %}

<div class="jumbotron">
    <div class="parent">
    <div id="main">

    {% if msg  %}
        <p>{{ msg }}</p>

    {% else %}
        <p>Добавление нового приглашения</p>
        <form action="" method="post" accept-charset="utf-8">
            {{ form.csrf_token }}

            <label for="description">{{ form.description.label }}</label>
            {{ form.description|safe }}

            {% if form.description.errors %}
                <ul class="errors">
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
            <label for="activation_cnt">{{ form.activation_cnt.label }}</label>
            {{ form.activation_cnt|safe }}

            {% if form.activation_cnt.errors %}
                <ul class="errors">
                    {% for error in form.activation_cnt.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
            <label for="invite_id">{{ form.invite_id.label }}</label>
            {{ form.invite_id|safe }}

            {% if form.invite_id.errors %}
                <ul class="errors">
                    {% for error in form.invite_id.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
            <p><input type="submit" value="Добавить приглашение"/></p>
        </form>
    {% endif  %}
    </div>
    </div>
</div>
{% endblock %}