{% extends 'layout.html'  %}

{% block content %}

<div class="jumbotron">
    <div class="parent">
    <div id="main">
    {% if msg  %}
        <p>{{ msg }}</p>

    {% else %}
        <p>Приглашение для {{ description }}</p>
        <form action="" method="post" accept-charset="utf-8">
            {{ form.csrf_token }}

            <label for="email">{{ form.email.label }}</label>
            {{ form.email|safe }}

            {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p><input type="submit" value="Подтвердить приглашение"/></p>
        </form>
    {% endif  %}
    </div>
    </div>
</div>
{% endblock %}